/* .container-fluid {
  padding: 0 30px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e4e5e6;
}

:root {
  --bs-body-bg: #e4e5e6 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "metropolis-regular";
  src: url("/metropolis/WOFF/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: "metropolis-ligth";
  src: url("/metropolis/WOFF/metropolis-ligth.woff") format("woff");
}

@font-face {
  font-family: "metropolis-regular";
  src: url("/metropolis/WOFF/metropolis-regular.woff") format("woff");
}

* {
  font-family: "metropolis-regular";
  box-sizing: border-box;
}

.text-green-550 {
  --tw-text-opacity: 1;
  color: #7cba6c;
}

.bg-green-550 {
  --tw-bg-opacity: 1;
  color: #7cba6c;
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: #7cba6c;
}

.text-2xl {
  font-size: 1.3rem;
  line-height: 2rem;
}

.mx-auto {
  margin-left: unset;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

.sidebar-container {
  height: calc(100vh - 55px);
  position: fixed;
  left: 0;
  color: white;
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
}

.app {
  display: flex;
  position: relative;
  margin-left: 200px;
  background-color: #e4e5e6;
  transition: all 0.5s ease-in-out;
}

.c-primary {
  color: #a3cd45;
}
.b-primary {
  background-color: #a3cd45;
}
.c-secondary {
  color: #60ab84;
}
.b-secondary {
  background-color: #60ab84;
}
.c-tertiary {
  color: #5b7e94;
}
.b-tertiary {
  background-color: #5b7e94;
}
.c-quaternary {
  color: #7fc466;
}
.b-quaternary {
  background-color: #7fc466;
}
.c-quinary {
  color: #7cba6c;
}
.b-quinary {
  background-color: #7cba6c;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between !important;
}

.navbar {
  /* background-color: #7cba6c; */
  color: #fff;
  /* padding: 0.5rem 1rem; */
  border-bottom: 1px solid #fff;
  height: 55px;
}

.rounded-fz {
  border-radius: 20px !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.pro-sidebar > .pro-sidebar-inner {
  /* background-color: #60ab84 !important; */
  background: rgb(96, 171, 132) !important;
  background: linear-gradient(
    180deg,
    rgba(96, 171, 132, 1) 13%,
    rgba(91, 126, 148, 0.9867297260701156) 91%
  ) !important;
  color: white;
}
.dropdown-menu {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.parpadeo {
  animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 2px 35px 2px 20px !important;
}
.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: transparent !important;
}

.header-right {
  align-items: end;
}

.selected {
  background-color: #e4e5e6;
  color: #2f353a;
  border-radius: 10px;
  margin: 2px 5px;
}

.pro-sidebar .pro-menu a {
  color: inherit !important;
}
.pro-inner-item {
  padding: 5px 35px 5px 20px !important;
}

.header-dropdown .dropdown-item {
  font-size: 0.8125rem;
}

.header-dropdown .dropdown-item svg {
  margin-right: 0.25rem !important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: #5b7e94 !important;
}

@media (max-width: 600px) {
  .app {
    padding-left: 0;
  }
}

/* colores de botones */

.btn-custom.btn-primary {
  /* background-color: #a3cd45; */
  border: 0 !important;
  background: linear-gradient(83deg, rgba(96,171,132,1) 13%, rgba(91,126,148,0.9867297260701156) 91%);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 20px;
  border-color: #a3cd45;
  color: #fff;
}
.btn-custom.btn-primary:hover {
  background-color: #7cba6c;
  border-color: #7cba6c;
  color: #fff;
}
.btn-custom.btn-secondary {
  /* background-color: #60ab84; */
  /* border-color: #60ab84; */
  border: 0 !important;
  background: rgb(163,205,69);
background: linear-gradient(83deg, rgba(163,205,69,1) 13%, rgba(91,126,148,0.9867297260701156) 91%);
  color: #fff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 20px;
}
.btn-custom.btn-secondary:hover {
  background-color: #7cba6c;
  border-color: #7cba6c;
  color: #fff;
}
.btn-custom.btn-info {
  border: 0 !important;
  background-color: #5b7e94;
  border-color: rgb(163,205,69);
  color: #fff;
  /* background: rgb(163,205,69); */
  background: linear-gradient(83deg, rgba(163,205,69,1) 13%, rgba(91,126,148,0.9867297260701156) 91%);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 20px;
}
.btn-custom.btn-info:hover {
  background-color: #7cba6c;
  border-color: #7cba6c;
  color: #fff;
}

.hide-sidebar {
  transform: translateX(-200px);
  animation: all 0.5s ease-in-out;
}

.wide-main-content {
  margin-left: 0 !important;
  transition: all 0.5s ease-in-out;
}

.background-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #60ab8482;
  backdrop-filter: blur(2px);
}

.header-dropdown-notifications {
  max-width: 250px;
  left: -90px !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  white-space: normal !important;
}

.input-default,
.form-control {
  width: 100% !important;
  border-radius: 0.5rem !important;
  padding: 11px !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000) !important;
  border: 1px solid var(--tw-drop-shadow, #0000) !important;
}

.react-tag-input {
  width: 100% !important;
  border-radius: 0.5rem !important;
  padding: 8px !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000) !important;
  border: 1px solid var(--tw-drop-shadow, #0000) !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #7cba6c8a !important;
}

.editor-class {
  background-color: #fff !important;
  border: 1px solid #b3b1b1;
  min-height: 200px;
  padding: 0 10px;
}

.react-tabs__tab--selected {
  background: #7cba6c !important;
  color: #f9fafb !important;
}

.rdrCalendarWrapper{
  border-radius: 20px !important;
  overflow: hidden !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}